env_defaults:
  docker: &ref_0
    - image: circleci/node:10.16

version: 2.1
jobs:
  prepare:
    docker: *ref_0
    steps:
      - checkout
      - restore_cache:
          keys:
            - 'v1.0-dependencies-{{ checksum "package.json" }}'
            - v1.0-dependencies-
      - run: npm install
      - save_cache:
          paths:
            - node_modules
          key: 'v1.0-dependencies-{{ checksum "package.json" }}'
      - persist_to_workspace:
          root: .
          paths:
            - node_modules
  lint:
    docker: *ref_0
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: npm run lint

  build:
    docker: *ref_0
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: 'Ensure no changes after running a build'
          command: npm run build && git diff --exit-code

workflows:
  version: 2
  build:
    jobs:
      - prepare
      - lint:
          requires:
            - prepare
      - build:
          requires:
            - prepare
